@use "@coreui/coreui/scss/coreui" as coreui;
@use 'config' as *;

.#{$select-ns}-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: coreui.$zindex-dropdown;
  border: 1px solid var(--cui-border-color-translucent);
  background: $select-color-dropdown;
  margin: 0.25rem 0 0;
  border-top: 0 none;
  box-sizing: border-box;
  box-shadow: $select-shadow-dropdown;
  border-radius: coreui.$border-radius;

  [data-selectable] {
    cursor: pointer;
    overflow: hidden;

    .highlight {
      background: $select-color-highlight;
      border-radius: 1px;
    }
  }

  .option,
  .optgroup-header,
  .no-results,
  .create {
    padding: $select-padding-dropdown-item-y $select-padding-dropdown-item-x;
  }

  .option, [data-disabled], [data-disabled] [data-selectable].option {
    cursor: inherit;
    opacity: 0.5;
  }

  [data-selectable].option {
    opacity: 1;
    cursor: pointer;
  }

  .optgroup:first-child .optgroup-header {
    border-top: 0 none;
  }

  .optgroup:first-child::before {
    display: none;
  }

  .optgroup::before {
    content: ' ';
    display: block;
    height: 0;
    margin: coreui.$dropdown-divider-margin-y 0;
    overflow: hidden;
    border-top: 1px solid var(--cui-border-color-translucent);
    margin-left: $select-padding-dropdown-item-x * -1;
    margin-right: $select-padding-dropdown-item-x * -1;
  }

  .optgroup-header {
    color: $select-color-optgroup-text;
    background: $select-color-optgroup;
    cursor: default;
    font-size: coreui.$font-size-sm;
    line-height: coreui.$line-height-base;
  }

  .active {
    background-color: $select-color-dropdown-item-active;
    color: $select-color-dropdown-item-active-text;

    &.create {
      color: $select-color-dropdown-item-create-active-text;
    }
  }

  .create {
    color: $select-color-dropdown-item-create-text;
    padding-left: $select-padding-dropdown-item-x;
  }

  .spinner {
    display: inline-block;
    width: $select-spinner-size;
    height: $select-spinner-size;
    margin: $select-padding-dropdown-item-y $select-padding-dropdown-item-x;

    &::after {
      content: " ";
      display: block;
      width: $select-spinner-size * .8;
      height: $select-spinner-size * .8;
      margin: $select-spinner-size * .1;
      border-radius: 50%;
      border: $select-spinner-border-size solid $select-spinner-border-color;
      border-color: $select-spinner-border-color transparent $select-spinner-border-color transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.#{$select-ns}-dropdown-content {
  overflow: hidden auto;
  max-height: $select-max-height-dropdown;
  scroll-behavior: smooth;
  padding: 5px 0;
}
